<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SignUp</h1>
    <div>
        <form th:action="@{/public/signUpMeth}" method="post">
            <br><label >Full Name:</label><br>
            <input type="text" name="name" required>
            <br><label >E-mail:</label><br>
            <input type="email" name="email" required>
            <br><label >Password:</label><br>
            <input type="password" name="password" required>
            <br><label >Profile Headline</label><br>
            <input type="text" name="profileHeadline" required>
            <br><label >Address:</label><br>
            <input type="text" name="address" required>
            <br><label>What is your role ?</label><br>
            <select name="userType" required>
                <option value="ROLE_USER">USER</option>
                <option value="ROLE_ADMIN">ADMIN</option>
            </select>
            <br><label></label>
            <br><input type="submit"/>
        </form>
    </div>
</body>
</html>