<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SignUp</h1>
    <div>
        <form th:action="@{/uploadResume}" method="post" enctype="multipart/form-data">
            <br><label >Upload Resume:</label><br>
            <input type="file" name="uploadedFile" required>
            <br><label></label>
            <br><input type="submit"/>
        </form>
    </div>
</body>
</html>